<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h3>Edit Listing</h3>
  <form method="POST" action="/listing/<%= listing._id %>?_method=PUT" class="EditForm">
    <input name="title" value="<%= listing.title %>" type="text" required />
    <br><br>
    <textarea name="description"><%= listing.description %></textarea>
    <br><br>
    <input name="price" value="<%= listing.price %>" type="number" required />
    <br><br>
    <input name="location" value="<%= listing.location %>" type="text" />
    <br><br>
    <input name="country" value="<%= listing.country %>" type="text" />
    <br><br>
    <button>Edit</button>
  </form>
</body>
