

<% layout("/layouts/boilerplate.ejs") %>

<body>
  <h2>Listing Details</h2>
  <h3><%= listing.title %></h3>
  <p><%= listing.description %></p>
  <p>Price: $<%= listing.price %></p>
  <p>Location: <%= listing.location %></p>
  <p>Country: <%= listing.country %></p>
  <a href="/listing">Back to All Listings</a> 
  <br><br>
  <a href="/listing/<%= listing._id %>/edit">Edit this route</a> 
  <br><br>
  <form method="POST"  action="/listing/<%= listing._id %>?_method=DELETE"> 
    <button>Delete this listing!!</button>
  </form>
</body>
